---
import { getOffre } from "../../backend.mjs";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;
const offre = await getOffre(id);
//@ts-nocheck
---

<Layout titre={offre.nom_maison}>
    <h2>{offre.nom_maison}</h2>
    <ul>
        <li>{offre.adresse}</li>
        <li>{offre.surface}</li>
        <li>{offre.nb_de_chambres}</li>
        <li>{offre.nb_de_sdb}</li>
        <li>{offre.prix}</li>
    </ul>
</Layout>

<script>
    //@ts-nocheck
</script>
