---
import "../../styles/global.css";
import Header from "../../components/header.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/footer.astro";
import Image from "public/image.jpg";
import Card from "../../components/Card.astro";

import { getOffres } from "../../backend.mjs";
import { filterByPrix } from "../../backend.mjs";

let message = "";
let offres = [];
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const minPrix = parseInt(data.get("minPrix"));
    const maxPrix = parseInt(data.get("maxPrix"));

    if (minPrix > 0 && maxPrix > 0 && maxPrix > minPrix) {
        offres = await filterByPrix(minPrix, maxPrix);
        if (offres.length === 0) {
            message = `Pas d'offres entre ${minPrix}€ et ${maxPrix}€`;
        } else {
            message = `Liste des offres entre ${minPrix}€ et ${maxPrix}€`;
        }
    } else {
        message = "Veuillez entrer des valeurs valides pour le prix.";
    }
} else {
    offres = await getOffres();
}
---

<Layout titre="Offres">
    <h1 style="color: rgb(210, 27, 210); margin: 10px">Offres</h1>
    <!-- ou "Offres" pour la page des offres -->
    <h2 style="margin: 10px">
        Découvrez nos offres immobilières. Elles sont pour tout les goûts.
    </h2>
    <form action="/offres" method="POST" style="padding:10px">
        <input type="number" name="minPrix" placeholder="Prix minimum" />
        <input type="number" name="maxPrix" placeholder="Prix maximum" />
        <input
            class="bg-yellow-600 text-white p-2"
            style="border-radius: 5px;"
            type="submit"
            value="Filtrer par prix"
        />
    </form>
    {message && <p style="color: orange; margin: 10px">{message}</p>}
    <button
        id="favori-button"
        class="bg-yellow-600 text-white p-2"
        style="margin: 15px; border-radius: 5px">Afficher les favoris</button
    >
    <button
        id="bouton-ajout"
        class="bg-yellow-600 text-white p-2"
        style="margin: 15px; border-radius: 5px;"
    >
        <a href="/offres/add">Ajouter une offre</a>
    </button>
    <button class="bg-yellow-600 text-white p-2" style="margin: 15px; border-radius: 5px;">
        <a href={`/offres/${offres.Card}`}>Surface</a>
    </button>
    <div class="cards-container">
        {
            offres.map((offre) => (
                <div class="offre" data-favori={offre.favori.toString()}>
                    <Card offre={offre} />
                </div>
            ))
        }
    </div>
    <script>
        //@ts-nocheck
        const button = document.getElementById("favori-button");
        let showOnlyFavorites = false;

        button?.addEventListener("click", () => {
            showOnlyFavorites = !showOnlyFavorites;
            const offres = document.querySelectorAll(".offre");

            offres.forEach((offre) => {
                const isFavori = offre.dataset.favori === "true";

                if (showOnlyFavorites) {
                    offre.style.display = isFavori ? "block" : "none";
                    button.textContent = "Afficher tout";
                } else {
                    offre.style.display = "block";
                    button.textContent = "Afficher les favoris";
                }
            });
        });
    </script>
</Layout>
